<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="./" title="COVID-19">
      <h1 class="nav-item title">COVID-19</h1>
    </a>
    <a role="button" class="navbar-burger burger" (click)="expand()" aria-label="menu" aria-expanded="false"
      data-target="menu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="menu" class="navbar-menu" [class.is-active]="isActive">
    <div class="navbar-end">
      <div class="navbar-item">
        <a class="navbar-item" href="https://coronavirusecuador.com/" target="new">
          Información
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Documentos
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://www.gob.ec/tramites/1848/webform" target="new" target="_blank">
              Salvoconducto Ecuador
            </a>
            <a class="navbar-item" href="https://coronavirus.guiaguayaquil.com/" target="new" target="_blank">
              Revisa tus Síntomas
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>