<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="./" title="COVID-19"><h1 class="nav-item title">COVID-19</h1></a>
    <a role="button" class="navbar-burger burger" (click)="expand()" aria-label="menu" aria-expanded="false"
      data-target="menu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="menu" class="navbar-menu" [class.is-active]="isActive">
    <div class="navbar-end">
      <div class="navbar-item">
        <a class="navbar-item" href="https://www.gouvernement.fr/info-coronavirus" target="_blank" rel="noopener noreferrer">
          Informations
        </a>
        <a class="navbar-item" href="https://www.maladiecoronavirus.fr/" target="_blank" rel="noopener noreferrer">
          <strong>Avez-vous le coronavirus ?</strong>
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Télécharger les attestations
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item"
              href="https://www.gouvernement.fr/sites/default/files/contenu/piece-jointe/2020/03/attestation_de_deplacement_derogatoire.pdf" target="_blank" rel="noopener noreferrer">
              Attestation individuelle
            </a>
            <a class="navbar-item"
              href="https://www.gouvernement.fr/sites/default/files/contenu/piece-jointe/2020/03/justificatif_de_deplacement_professionnel.pdf" target="_blank" rel="noopener noreferrer">
              Attestation employeur
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
