.title {
  margin: 0;
  line-height: unset;
  font-weight: normal;
  font-size: 1.4rem;
  letter-spacing: 0.15em;
  color: white;
}

.title .bold {
  font-weight: 500;
}

.logo {
  padding-left: 1.5rem;
}

