<div class="content">

      <h1 class="title">
        Infos du gouvernement sur le Coronavirus COVID-19
      </h1>
      <p>
        Le 16 mars 2020, le Président de la République a décidé de prendre des mesures pour réduire à leur plus strict
        minimum les contacts et les déplacements.<br>
        Un dispositif de confinement est mis en place sur l’ensemble du territoire à compter du mardi 17 mars à 12h00,
        pour quinze jours minimum.<br><br>
        <strong>Les déplacements sont interdits sauf dans les cas suivants et uniquement à condition d'être munis d'une
          attestation pour :</strong><br>
        - Se déplacer de son domicile à son lieu de travail dès lors que le télétravail n’est pas possible ;<br>
        - Faire ses achats de première nécessité dans les commerces de proximité autorisés ;<br>
        - Se rendre auprès d’un professionnel de santé ;<br>
        - Se déplacer pour la garde de ses enfants ou pour aider les personnes vulnérables, ou pour un motif familial
        impérieux, dûment justifié, à la stricte condition de respecter les gestes barrières ;<br>
        - Faire de l’exercice physique uniquement à titre individuel, autour du domicile et sans aucun
        rassemblement.<br>
      </p>
      <p>
       <strong>
        Les deux documents nécessaires pour circuler sont disponibles :<br>

        - l'attestation individuelle, <a title="télécharger l'attestation individuelle" target="_blank" rel="noopener noreferrer" href="https://www.gouvernement.fr/sites/default/files/contenu/piece-jointe/2020/03/attestation-deplacement-fr.pdf">à télécharger au format PDF (73 ko)</a> ou à
        reproduire sur papier libre. Elle doit être remplie pour chaque déplacement non professionnel.<br>
        - l'attestation de l'employeur, <a title="télécharger l'attestation de l'employeur" target="_blank" rel="noopener noreferrer" href="https://www.gouvernement.fr/sites/default/files/contenu/piece-jointe/2020/03/justificatif-deplacement-professionnel-fr.pdf">au format PDF (227 ko)</a>.
       </strong>
       <br> <br>
        Elle est
        valable pendant toute la durée des mesures de confinement et n’a donc pas à être renouvelée tous les jours.
        Les infractions à ces règles seront sanctionnées d'une amende de 135 euros.  <br>
        En cas de doute sur ces restrictions
        de déplacement, vous pouvez consulter les questions / réponses en cliquant ici. <br>
        Attention à vos données personnelles, n'utilisez pas de support numérique pour vos attestations. Seuls le document
        officiel du ministère de l'Intérieur ou une attestation sur l'honneur sur papier libre peuvent être utilisés comme
        justificatifs.

      </p>
      <strong>
        <a href="https://www.gouvernement.fr/info-coronavirus" target="_blank" rel="noopener noreferrer">Pour plus d'informations, cliquez ici</a>
      </strong>
  </div>
