<h1 class="title is-spaced" id="tableDescription" *ngIf="selectedCountry">Estadísticas {{selectedCountry}}</h1>
<h1 class="title is-spaced" id="tableDescription" *ngIf="!selectedCountry">Estadísticas Ecuador</h1>
<div class="content">
  <ng-container *ngIf="mainStats.value">
    <p>
      Actualizado el <strong>{{mainStats.value.lastUpdate | date: 'dd/MM/yyyy a HH:MM'}}</strong>
    </p>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child notification is-danger">
          <p class="title">{{mainStats.value.confirmed.value}}
            <span class="increase" *ngIf="selectedCountry === 'Monde'">
              {{data[data.length - 1].deltaConfirmed  | symbolNumber}}
            </span>
          </p>
          <p class="subtitle">Casos identificados</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-dark">
          <p class="title">{{mainStats.value.deaths.value}}</p>
          <p class="subtitle">Muertos</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-primary">
          <p class="title">
            {{mainStats.value.recovered.value}}
            <span class="increase" *ngIf="selectedCountry === 'Monde'">
              {{data[data.length - 1].deltaRecovered | symbolNumber}}
            </span>
          </p>
          <p class="subtitle">Recuperados</p>
        </article>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="mainStats.loading">
    <mat-spinner [diameter]="60" class="spinner is-spaced"></mat-spinner>
  </ng-container>
  <ng-container *ngIf="!mainStats.value && !mainStats.loading">
    <article class="message is-danger">
      <div class="message-header">
        <p>Datos no disponibles.</p>
      </div>
      <div class="message-body">
        No encontramos ningún dato.
      </div>
    </article>
  </ng-container>
</div>