<ng-container *ngIf="mainStats">
  <h2 class="title is-spaced" id="tableDescription" >Statistiques et cas Coronavirus COVID-19
    <ng-container *ngIf="selectedCountry.Translation">
      {{selectedCountry.Translation}}
    </ng-container>
    <ng-container *ngIf="!selectedCountry.Translation">
      {{selectedCountry.Country}}
    </ng-container>
  </h2>
  <div class="content">
      <p *ngIf="mainStats.lastUpdate">
        Mis à jour le <strong>{{mainStats.lastUpdate | date: 'dd/MM/yyyy à HH:MM'}}</strong>
      </p>
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child notification is-danger">
            <p class="title">{{mainStats.cases}}
              <span class="increase" *ngIf="selectedCountry.Country === 'Monde'">
                {{mainStats.cases | operation : data[data.length - 1].confirmed.total : '-'  | symbolNumber}}
              </span>
              <span class="increase" *ngIf="selectedCountry.Country !== 'Monde'">
                {{mainStats.todayCases  | symbolNumber}}
              </span>
            </p>
            <p class="subtitle">Cas recensés</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-dark">
            <p class="title">
              {{mainStats.deaths}}
              <span class="increase" *ngIf="selectedCountry.Country === 'Monde'">
                {{mainStats.deaths | operation : data[data.length - 1].deaths.total : '-'  | symbolNumber}}
              </span>
              <span class="increase" *ngIf="selectedCountry.Country !== 'Monde'">
                {{mainStats.todayDeaths  | symbolNumber}}
              </span>
            </p>
            <p class="subtitle">Morts</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-primary">
            <p class="title">
              {{mainStats.recovered}}
              <!-- <span class="increase" *ngIf="selectedCountry.Country === 'Monde'">
                {{mainStats.recovered | operation : data[data.length - 1].recovered.total : '-'  | symbolNumber}}
              </span> -->
            </p>
            <p class="subtitle">Guéris</p>
          </article>
        </div>
      </div>

  </div>
</ng-container>
