<footer class="footer">
  <div class="content has-text-centered">
    <div>
      <strong>Aplicación web</strong> por <a href="https://juanitourquiza.github.io/" target="new">Juan Urquiza</a>
      proyecto base <a href="https://souryvath.github.io/ng-covid-19/" target="_blank">souryvath</a>
    </div>
    <div>
      <strong>API</strong> por
      <a href="https://github.com/mathdroid/covid19" target="new">mathdroid</a> et
      <a href="https://github.com/NovelCOVID/API" target="new">NovelCOVID</a>
    </div>
  </div>
</footer>