<footer class="footer">
  <div class="content has-text-centered">
    <div>
      <strong>Application web</strong> par <a href="https://github.com/souryvath/" target="_blank" rel="noopener noreferrer">Souryvath NIRASAY</a>
    </div>
    <div>
      <strong>API</strong> par
      <a href="https://github.com/mathdroid/covid19" target="_blank" rel="noopener noreferrer">mathdroid</a> et
      <a href="https://github.com/NovelCOVID/API" target="_blank" rel="noopener noreferrer">NovelCOVID</a>
    </div>
  </div>
</footer>
