<div class="content">
  <h1 class="title">Comment se protéger et protéger les autres du Coronavirus Covid-19 au quotidien ? </h1>
  <p>
    Lavez-vous très régulièrement les mains
  </p>
  <p>
    Toussez ou éternuez dans votre coude ou dans un mouchoir
  </p>
  <p>
    Saluez sans serrer la main, n'embrassez personne
  </p>
  <p>
    Utilisez un mouchoir à usage unique et jetez-le
  </p>
  <p>
    Portez un masque si vous êtes malade.
  </p>
  <p>Restez chez vous, évitez tout contact avec les autres. Certaines personnes transmettent le virus sans en ressentir
    les symptômes.</p>
</div>
