<div class="content">
  <h1 class="title">¿Cómo protegerse a usted y a otros del Coronavirus Covid-19 diariamente?</h1>
  <p>
    Lava tus manos muy regularmente
  </p>
  <p>
    Tose o estornuda en el codo o en un pañuelo
  </p>
  <p>
    Saluda sin estrechar la mano, no beses a nadie
  </p>
  <p>
    Use un pañuelo desechable y tírelo
  </p>
  <p>
    Use una máscara si está enfermo.
  </p>
  <p>Quédese en casa, evite el contacto con otros. Algunas personas transmiten el virus sin sentir los síntomas.</p>
</div>