/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

.is-spaced {
  margin-top: 1.5rem;
}

.mat-progress-spinner circle {
  stroke: violet;
}

.mat-progress-spinner {
  margin-left: auto;
  margin-right: auto;
}

.chart-legend .legend-label {
  color: black !important;
}

.chart-legend .legend-title {
  text-align: center !important;
}

.chart-legend .legend-labels {
  background: none !important;
  text-align: center !important;
}

.chart-wrapper {
  height: 400px;
  margin-bottom: 2em;
}

.hero-body {
  padding: 1.5rem !important;
}
