<ng-container *ngIf="(data$ | async) as data">
  <ng-container *ngIf="(countries$ | loading | async) as countries">
    <div class="content">
      <label class="label" for="country-select">Choisis un pays</label>
      <div class="control">
        <div class="select">
          <select name="country" id="country-select" (change)="onSelectCountry($event.target.value)">
            <option selected>Monde</option>
            <option>France</option>
            <option *ngFor="let country of countries.value | keyvalue; trackByFn" [value]="country | json">{{country.key}}
            </option>
          </select>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="(mainStatsFrance$ | loading | async) as mainStats">
    <app-coronavirus-stats [mainStats]="mainStats" [data]="data"></app-coronavirus-stats>
  </ng-container>
  <ng-container *ngIf="(mainStats$ | loading | async) as mainStats">
    <app-coronavirus-stats [mainStats]="mainStats" [data]="data" [selectedCountry]="selectedCountry">
    </app-coronavirus-stats>
  </ng-container>
  <ng-container *ngIf="(detailedStats$ | loading | async) as detailedStats">
    <app-coronavirus-table [detailedStats]="detailedStats" [selectedCountry]="selectedCountry"></app-coronavirus-table>
  </ng-container>
  <h1 class="title is-spaced">L'avancée du coronavirus sur les 15 derniers jours</h1>
  <div class="columns">
    <div class="column">
      <app-coronavirus-graph [data]="data"></app-coronavirus-graph>
    </div>
    <div class="column">
      <app-coronavirus-column [data]="data"></app-coronavirus-column>
    </div>
  </div>
</ng-container>

