<h1 class="title">
  Información sobre el coronavirus COVID-19
</h1>
<div class="content">
  <p>
    Desde enero de 2020, una epidemia de coronavirus COVID-19 se ha propagado desde China. La idea de esta plataforma es
    mantener informada a la gente que nos visita
  </p>
  <p>
    Ante la epidemia, hay pasos simples para preservar su salud y la de quienes lo rodean:
  </p>
  <ul>
    <li>
      Lava tus manos muy regularmente
    </li>
    <li>
      Tose o estornuda en el codo o en un pañuelo
    </li>
    <li>
      Saluda sin estrechar la mano, deja de besarte
    </li>
    <li>
      Uso y eliminación de pañuelos desechables.
    </li>
    <li>
      Evite reuniones, limite viajes y contactos.
    </li>
  </ul>
  <h2>
    ¿Qué es el coronavirus COVID-19?
  </h2>
  <p>
    Los coronavirus son una gran familia de virus, que causan enfermedades que van desde un simple resfriado (algunos
    los virus estacionales son coronavirus) a patologías más severas como MERS-COV o SARS.
    <br>
    El virus identificado en enero de 2020 en China es un nuevo coronavirus, llamado SARS-CoV-2. La enfermedad causada
    por
    Este coronavirus ha sido nombrado COVID-19 por la Organización Mundial de la Salud - OMS. Desde el 11 de marzo de
    2020, la OMS
    describe la situación global de COVID-19 como una pandemia; es decir, la epidemia ahora es global.
  </p>
  <h2>
    ¿Cuáles son los síntomas del coronavirus COVID-19?
  </h2>
  <p>
    Los síntomas principales son fiebre o sensación de fiebre y tos.
    <br>
    La pérdida repentina del olfato sin obstrucción de la nariz y la pérdida completa del gusto también son síntomas que
    se han observado en pacientes
  </p>
  <h2>
    ¿Hay una vacuna?
  </h2>
  <p>
    No hay vacuna para el coronavirus COVID-19 en este momento. Varios tratamientos están en progreso, en relación con
    la OMS, para ser utilizada contra el Coronavirus COVID-19. Mientras tanto, el
    El tratamiento es sintomático.
  </p>
  <h2>
    Tomar medicamentos antiinflamatorios (ibuprofeno ...) podría ser un factor en el empeoramiento de la infección.
  </h2>
  <p>
    En general, se debe prohibir la automedicación con medicamentos antiinflamatorios. Además, parecería que
    Los medicamentos antiinflamatorios no esteroideos pueden ser un factor en el empeoramiento de la infección. Entonces
    en el caso
    Infección por coronavirus COVID-19, se recomienda paracetamol. Si ya está tomando medicamentos antiinflamatorios.
    o si tiene dudas, consulte a su médico.
  </p>
  <h2>
    ¿Cómo se transmite el coronavirus COVID-19?
  </h2>
  <p>
    La enfermedad se transmite por secreciones invisibles por estornudos o tos. Nosotros
    por lo tanto, consideramos que no es necesario el contacto cercano con una persona enferma para transmitir la
    enfermedad.
  </p>
  <h2>
    ¿Cuál es el período de incubación de la enfermedad?
  </h2>
  <p>
    El período de incubación es el período entre la contaminación y el inicio de los primeros síntomas. El plazo
    El período de incubación del coronavirus COVID-19 es de 3 a 5 días en general, pero puede durar hasta 14 días.
    Durante este período, el sujeto puede ser contagioso: puede portar el virus antes de la aparición de
    síntomas o la aparición de señales débiles.
  </p>
  <strong>
    <a href="https://coronavirusecuador.com/preguntas-frecuentes/" target="_blank" rel="noopener noreferrer">Preguntas
      Frecuentes</a>
  </strong>
</div>