<h1 class="title">
  Informations sur le Coronavirus COVID-19
</h1>
<div class="content">
  <p>
    Depuis janvier 2020, une épidémie de Coronavirus COVID-19 (ex 2019-nCoV) s’est propagée depuis la Chine. Retrouvez
    sur cette plateforme toutes les réponses officielles aux questions que vous vous posez sur ce qu’est le Coronavirus
    COVID-19 et les recommandations pour votre santé et votre vie quotidienne.
  </p>
  <p>
    Face à l’épidémie , il existe des gestes simples pour préserver votre santé et celle de votre entourage :
  </p>
  <ul>
    <li>
      Se laver les mains très régulièrement
    </li>
    <li>
      Tousser ou éternuer dans son coude ou dans un mouchoir
    </li>
    <li>
      Saluer sans se serrer la main, arrêter les embrassades
    </li>
    <li>
      Utiliser des mouchoirs à usage unique et les jeter
    </li>
    <li>
      Eviter les rassemblements, limiter les déplacements et les contacts.
    </li>
  </ul>
  <h2>
    Qu’est-ce que le Coronavirus COVID-19 ?
  </h2>
  <p>
    Les coronavirus sont une grande famille de virus, qui provoquent des maladies allant d’un simple rhume (certains
    virus saisonniers sont des Coronavirus) à des pathologies plus sévères comme le MERS-COV ou le SRAS.
    <br>
    Le virus identifié en janvier 2020 en Chine est un nouveau Coronavirus, nommé SARS-CoV-2. La maladie provoquée par
    ce coronavirus a été nommée COVID-19 par l’Organisation mondiale de la Santé - OMS. Depuis le 11 mars 2020, l’OMS
    qualifie la situation mondiale du COVID-19 de pandémie ; c’est-à-dire que l’épidémie est désormais mondiale.
  </p>
  <h2>
    Quels sont les symptômes du Coronavirus COVID-19 ?
  </h2>
  <p>
    Les symptômes principaux sont la fièvre ou la sensation de fièvre et la toux.
    <br>
    La perte brutale de l’odorat, sans obstruction nasale et disparition totale du goût sont également des symptômes qui
    ont été observés chez les malades.
  </p>
  <h2>
    Existe-t-il un vaccin ?
  </h2>
  <p>
    Il n’existe pas de vaccin contre le Coronavirus COVID-19 pour le moment. Plusieurs traitements sont en cours
    d’évaluation en France, en lien avec l’OMS pour être utilisés contre le Coronavirus COVID-19. Dans l’attente, le
    traitement est symptomatique.
  </p>
  <h2>
    La prise d'anti-inflammatoires (ibuprofène ...) pourrait être un facteur d'aggravation de l'infection.
  </h2>
  <p>
    De manière générale, l’auto-médication par anti-inflammatoires doit être proscrite. De plus, il semblerait que les
    anti-inflammatoires non stéroïdiens pourraient être un facteur d’aggravation de l'infection. Ainsi, dans le cas
    d’une infection au coronavirus COVID-19, le paracétamol est recommandé. Si vous êtes déjà sous anti-inflammatoires
    ou en cas de doute, demandez conseil à votre médecin.
  </p>
  <h2>
    Comment se transmet le Coronavirus COVID-19 ?
  </h2>
  <p>
    La maladie se transmet par les gouttelettes (sécrétions projetées invisibles lors d’éternuements ou de toux). On
    considère donc qu’un contact étroit avec une personne malade est nécessaire pour transmettre la maladie : même lieu
    de vie, contact direct à moins d’un mètre lors d’une toux, d’un éternuement ou une discussion en l’absence de
    mesures de protection. Un des autres vecteurs privilégiés de la transmission du virus est le contact des mains non
    lavées.
    C’est donc pourquoi les gestes barrières et les mesures de distanciation sociale sont indispensables pour se
    protéger de la maladie.
  </p>
  <h2>
    Quel est le délai d’incubation de la maladie ?
  </h2>
  <p>
    Le délai d’incubation est la période entre la contamination et l’apparition des premiers symptômes. Le délai
    d’incubation du coronavirus COVID-19 est de 3 à 5 jours en général, il peut toutefois s’étendre jusqu’à 14 jours.
    Pendant cette période, le sujet peut être contagieux : il peut être porteur du virus avant l’apparition des
    symptômes ou à l’apparition de signaux faibles.
  </p>
  <strong>
    <a href="https://www.gouvernement.fr/info-coronavirus" target="_blank" rel="noopener noreferrer">Retrouvez toutes les informations ici</a>
  </strong>
</div>
